<!DOCTYPE html>
<html>

<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta http-equiv="Content-Security-Policy">
   <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
   <link rel="stylesheet" href="css/style.css">
   <script src="https://js.stripe.com/v3/" defer></script>
   <script src="js/modalplugins.js" defer></script>
   <title>Document</title>
</head>

<body>
   <div class="wrapper">
      <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
         Demonstration
      </button>
   </div>

   <!-- Button trigger modal -->


   <!-- Modal -->
   <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-scrollable">
         <div class="modal-content">
            <div class="modal-header">
               <h5 class="modal-title" id="exampleModalLabel">Your pay</h5>
               <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
               <iframe
                  src="https://checkout.stripe.com/pay/cs_test_a1204NN6JhyenBHp1cPgJQ46raGZRQFJ4FUmTJdT1KfcjeoofrfJZgw8wl#fidkdWxOYHwnPyd1blpxYHZxWjA0T3I0S1ZGRmBQfGZzX0lGRHFdaTw2TU5kfXd3c0NJZ05DdTZyUT1CUn1jMn1GTHRIXGY9azdWQFBQMFF1bjZnYExsd3JIPE5kTnNVdkRIQGIwMkwzXDFANTV9XEZwPG18UScpJ3VpbGtuQH11anZgYUxhJz8ncWB2cVoydkw9fWwzUEM2RHA2M2JhVFQneCUl"></iframe>
               {{/* <a href="http://buy.stripe.com/test_7sI8xi6UF3Au36gdQQ" target="_blank"
                  rel="noopener noreferrer">pay</a> */}}
            </div>
            <div class="modal-footer">
            </div>
         </div>
      </div>
   </div>

   <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"></script>

</body>

</html>